header{
    background-color: rgb(184, 141, 113);
    color: rgb(248, 238, 238);
    text-align: center;
    padding: 20px;
    width: 100%;
    position: absolute;
}
body {
    font-family: sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: linen;
}

img{
    width: 600px;
    height: auto;
}
section {
    margin-top: 10px;
    text-align: center;
}

footer {
    background-color: rgb(184, 178, 178);
    position: absolute;
    bottom: 10;
    width: 100%;
    height: 40px;
    text-align: center;
}